.box {
  width: 10rem;
  height: 10rem;
  outline: 1px solid lime;
  display: grid;
  place-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 2rem;
  border: 1px solid lime;
  background-color: transparent;
  cursor: pointer;
}

.box.active {
  background-color: rgba(53, 255, 53, 0.2);
}

.box_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: fit-content;
  height: fit-content;
}
