:root {
  --background-color: white;
  --text-color: #313e51;
  --text-color-700: #626c7f;
  --subject-color: white;
  --action-btn-color: #a729f5;
  --success-color: #26d782;
  --error-color: #ee5454;

  --color-html-icon: #fff1e9;
  --color-css-icon: #e0fdef;
  --color-js-icon: #ebf0ff;
  --color-accessibility-icon: #f6e7ff;

  --screen-size: 1200px;
}

[data-theme="dark"] {
  --background-color: #313e51;
  --text-color: white;
  --text-color-700: #abc1e1;
  --subject-color: #3b4d66;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px now */
}

body {
  height: 100vh;
  font-size: 1rem;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

button,
input {
  font-family: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
