.app_container {
  padding: 8rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  gap: 2rem;
}

.queue_list_container {
  max-width: max(40vw, 100% - 10rem);
  width: fit-content;
  min-height: 300px;
  background-color: var(--clr-purple-900);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(8rem, auto);
  gap: 1.5rem;
  color: white;
}

.queue_list {
  /* width: 100%; */
  /* height: 100%; */
  /* border: 1px solid var(--clr-gray-800); */
  display: grid;
  grid-template-rows: 4.5rem 1fr;
  gap: 0.4rem;
}

.queue_list > h3 {
  text-align: center;
  font-size: 1.6rem;
}

.customer_list {
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.customer_list > .customer {
  width: calc(100% - 2rem);
  height: 4rem;
  margin: 0 auto .5rem;
  border: 1px solid var(--clr-purple-500);
  text-align: center;
  font-size: 1.8rem;
  display: grid;
  place-items: center;
  border-radius: .5rem;
}