:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --clr-purple-900: #646cff;
  --clr-purple-500: #DEDCFF;
  --clr-gray-900: #242424;
  --clr-gray-800: #1d232a;
  --clr-neutral-100: #FFFFFF;
  --clr-background: #FBFBFE;
}


* {
  box-sizing: border-box;
}

*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.50%; /* 1rem = 10px now*/
}

body {
  background-color: var(--clr-background);
}

input {
  height: 4rem;
  appearance: none;
  padding: 0 1.6rem;
  font-size: 1.6rem;
  border-radius: .8rem;
  border-width: 1px;
  background-color: white;
  max-width: 32rem;
}

input:focus,
input:focus-within {
  outline-width: 1px;
  outline-offset: 1px;
  border-color: var(--clr-gray-800);
}

button {
  height: 4rem;
  min-height: 4rem;
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  border-radius: .8rem;
  background-color: var(--clr-gray-800);
  cursor: pointer;
  user-select: none;
  border-color: var(--clr-purple-900);
  color: var(--clr-neutral-100);
  font-size: 1.4rem;
  text-align: center;
  line-height: 1.6rem;
  padding: 0 1.6rem;
  transition: all .3s ease-in-out;
}

button:focus,
button:focus-within,
button:focus-visible,
button:active {
  animation: click 50ms ease-in-out;
  background-color: var(--clr-purple-900);
}

@keyframes click {
  100%{
    transform: scale(1);
  }

  0%{
    transform: scale(0.98);
  }
}