.flash_icon_btn {
  background-color: var(--color-indigo-500);
}

.book_icon_btn {
  background-color: var(--color-indigo-500);
}

.clipboard_icon_btn {
  background-color: var(--color-indigo-500);
}

.app_container {
  width: 100vw;
  height: 100vh;
  height: 100dvh;
}
