:root {
  --color-indigo-500: hsl(238.73, 83.53%, 66.67%);
  --color-indigo-600: hsl(243.4, 75.36%, 58.63%);
  --color-indigo-700: hsl(244.52, 57.94%, 50.59%);
  --color-indigo-800: hsl(243.65, 54.5%, 41.37%);
  --color-indigo-900: hsl(242.17, 47.43%, 34.31%);
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px; */
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
