@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Georgia, "Times New Roman", Times, serif;

  --color-success: #43a047;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

@layer components {
  input[type="range"]::-webkit-slider-thumb {
    @apply appearance-none w-6 h-6 bg-white rounded-full outline outline-4 outline-offset-1 outline-indigo-500;
  }
}
